body {
    margin: 50px auto;
    width: 90%;
    background-image: url("natural-paper.png");
    background-size: 400px 400px;
    background-repeat: repeat;
    background-position: 100% 100%;
    /*background-color: #f1e9d2;*/
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #A9A9A9;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
    color: #A9A9A9;
}
a {
    text-decoration: none;
    color: #A9A9A9;
}
a:hover {
    /*text-decoration: underline;*/
    color: #4B0082;
}
h1 {
  font-family: 'Lora', sans-serif;
  font-size: 8vw;
  line-height: 1em;
  margin-bottom: 30px;
  letter-spacing: 3px;
  margin-top: 25px;
  color: #000000;
  opacity: .75;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
    color: #000000;
}
/*footer {
    border-top: 1px solid #13F6FF;
    font-size: .8em;
}*/

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    color: #4B0082;
}

ul.posts li {
    list-style: none;
    color: #4B0082;
    font-size: 1.5em;
}
input[type="text"], textarea {
    font: inherit;
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 8px 15px;
    width: 100%;
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
    box-sizing: border-box;
}
input[type="email"], textarea {
    font: inherit;
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 8px 15px;
    width: 100%;
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
    box-sizing: border-box;
}

input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: #4B0082;
    background-color: buttonface;
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
    box-sizing: border-box;
    padding: 3px 8px 5px;
    border-width: 100%;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
